.recentGames{
    background-color: $lightColor; 

    &_container_content{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        gap: 3rem;
        grid-template-areas: 'item1 item1 item1 item2'
                             'item3 item4 item5 item6';
                             .recent-game-1{
                                grid-area: item1;
                            }
                            .recent-game-2{
                                grid-area: item2;
                            }
                            .recent-game-3{
                                grid-area: item3;
                            }
                            .recent-game-4{
                                grid-area: item4;
                            }
                            .recent-game-5{
                                grid-area: item5;

                                @include media(medium){
                                    display: none;
                                }

                                @include media(small){
                                    display: block;
                                }
                            }
                            .recent-game-6{
                                grid-area: item6;

                                @include media(medium){
                                    display: none;
                                }
                            }

                            @include media(large){
                                gap: 2rem;
                            }
                            @include media(medium){
                                gap: 1.5rem;
                                grid-template-columns:repeat(3,1fr);
                                grid-template-areas: 'item1 item1 item1'
                                                     'item2 item3 item4' 
                                                     'item5 item6 item7';
                                                     
                            }
                            @include media(small){
                                gap: 1rem;
                                grid-template-columns:repeat(2,1fr);
                                grid-template-areas: 'item1 item1'
                                                     'item2 item3' 
                                                     'item4 item5'
                                                     'item6 item7';
                            }
    .recent-game-featured{
        @include flex-display(flex,center,space-between);

        @include media(small){
            flex-direction: column;
        }
        
        .recent-game-thumbnail{
            width: 120%;
            img{
                object-fit: cover;
                height: 100%;
               

            }
        }
        .raiting{
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            font-size: 2rem;
        }
        .game-title{
            font-size: 3rem!important;
        }
    }
    .recent-game{
        width: 100%;
        height: 100%;
        background-color:$secondaryColor;

        &-thumbnail{
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
                transition: $transition;
            }

            &::after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($primaryColor, .4);
                visibility: hidden;
                opacity: 0;
                transition: $transition;
            }

        }

        &:hover, &:focus{

            .recent-game-thumbnail{
                &::after{
                    visibility: visible;
                    opacity: 1;
                }
                img{
                    transform: scale(1.1) rotate(5deg);
                }
                .raiting{
                    opacity: .8;
                }
            }
           
        }
        
        &-content{
            padding: 2rem;
            .game-title{
                margin-bottom: 1.2rem;
                font-size: 1.8rem;
                letter-spacing: .01;

                a {
                    transition: $transition;

                    &:hover{
                        color: darken($lightColor, 40%);
                    }
                }
            }
            p {
                font-size: 1.2rem;
                line-height: 1.8;
            }

            .game-meta{
                @include flex-display(flex,space-between,center);
                font-size: 1.2rem;
            }
        }
    }
    }
}