// fontlar
$primaryFont:"Changa", sans-serif;
$secondaryFont:"Open Sans", sans-serif;
// colors
$primaryColor: #E51515;
$secondaryColor: #14151A;
$dataColor: #FFB320;
$commentColor: #08ABBD;
$grayColor: #9F9F9F;
$lightColor: #FEFEFE;
// transition
$transition: all .5s ease-in-out;

